extends layout

block extrahead
  link(rel='stylesheet', href='/stylesheets/custom.css')
    

block content
  h1= title
  table 
    thead
      th Name
      th Club
      th Comment
    tbody
     for player in players
        tr
          td #{player.name}
          td #{player.club}
          td #{player.comment}